@inherits LayoutComponentBase

<MudThemeProvider Theme="_lightTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>PrintBox</PageTitle>

<MudLayout>
	<MudDrawer @bind-Open="@open" Fixed="true" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Class="align-self-center" Width="150px">
        <MudSpacer/>
		<MudNavMenu Rounded>
			<MudNavLink href="" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home" IconColor="Color.Primary" >Home</MudNavLink>
			<MudNavLink href="createbox" Icon="@Icons.Filled.AddBox" IconColor="Color.Primary">Create Box</MudNavLink>
			<MudNavLink href="graph" Icon="@Icons.Filled.MultilineChart" IconColor="Color.Primary">Chart</MudNavLink>
			<MudNavLink href="box" Icon="@Icons.Filled.Inbox" IconColor="Color.Primary">Box</MudNavLink>
		</MudNavMenu>
        <MudSpacer/>
	</MudDrawer>




	<div class="d-flex top-row px-4" >
			<MudText Typo="Typo.h5" Color="Color.Primary">Print Box</MudText>
            <MudSpacer/>
            <MudAvatar Color="Color.Warning" Size="Size.Medium">P</MudAvatar>
        </div>
    <MudMainContent Class="mt-0">
    <MudContainer>
        @Body
    </MudContainer>
</MudMainContent>
	</MudLayout>
@*






<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="">
        </div>
        <div class="d-flex px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article Style="overflow:hidden; position:relative;">
            @Body
        </article>
    </main>
</div>*@
@code{
        DrawerClipMode clipMode = DrawerClipMode.Never;
        bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    } 






    MudTheme _lightTheme = new MudTheme {
    Palette =new Palette

{
    AppbarBackground ="#000C66",
    AppbarText="#d47526",
    Primary="#ffffff",
    TextPrimary="#ffffff",
    Background="#e1e1e1",
    TextSecondary="#004454",
    DrawerBackground="#02718c",
    DrawerText="#ffffff",
    Surface="#0089a9",
    ActionDefault="#2d2d30",
    ActionDisabled="#2F678C",
    TextDisabled="#676767"
}
};
//AppbarBackground = "#0097FF",
//				AppbarText = "#FFFFFF",
//				Primary = "#007CD1",
//				TextPrimary = "#FFFFFF",
//				Background = "#001524",
//				TextSecondary = "#E2EEF6",
//				DrawerBackground = "#093958",
//				DrawerText = "#FFFFFF",
//				Surface = "#093958",
//				ActionDefault = "#0097FF",
//				ActionDisabled = "#2F678C",
//				TextDisabled = "#BOBOBO",
//			}
}