@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PrintBox</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@
@*
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Filled.Home"/>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.Numbers"/>Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.DataArray"/>Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createbox">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.AddBox"/>Create Box
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="box">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.MoveToInbox"/>Box
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="graph">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.AreaChart"/>Graph
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Dashboard">
                <MudIcon Class="mx-2" Icon="@Icons.Filled.Dashboard"/> Dashboard
            </NavLink>
        </div>
    </nav>
</div>
*@

     <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudDrawerHeader>
            <MudText Typo="Typo.h5" Color="Color.Primary" Style="margin-top:10px;margin-left:15px;">Print Box</MudText>
            </MudDrawerHeader>
            
            <MudNavMenu>
                <MudNavLink href="" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home">Home</MudNavLink>
                <MudNavLink href="counter" Icon="@Icons.Filled.Numbers">Counter</MudNavLink>
                <MudNavLink href="createbox" Icon="@Icons.Filled.AddBox">Create Box</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudDrawerContainer>

@code {
    //private bool collapseNavMenu = true;

    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
    DrawerClipMode clipMode = DrawerClipMode.Never;
        bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    } 
}
