@page "/createbox"
@inject IBoxDataService boxdata



<div class="row">
	<div class="col-md-4">
		<h3>Create Box</h3>
		<EditForm Model="@box" OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-group">
				<label>Box Name</label>
				<InputText @bind-Value="box.NameOfBox" class="form-control"></InputText>
			</div>
			<div class="form-group">
				<label>Name of Organization</label>
				<InputText @bind-Value="box.Organization" class="form-control"></InputText>
			</div>
			<div class="form-group">
				<label>Group of Box</label>
				<InputText @bind-Value="box.GroupName" class="form-control"></InputText>
			</div>
			<p></p>
			<button class="btn btn-primary" type="submit">
				<span class="oi oi-plus" aria-hidden="true"></span> Create Box
			</button>
		</EditForm>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h3>Boxes</h3>
			@if (Readbox == null)
			{
				<MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
			}
			else
			{
@*
				<MudTable Hover="true">
					<HeaderContent>
						<MudTh>Id</MudTh>
						<MudTh>Name</MudTh>
						<MudTh>Organization</MudTh>
						<MudTh>Group</MudTh>
					</HeaderContent>
					<RowTemplate>
						@foreach (var b in Readbox)
						{
							<MudTd>@b.BoxId</MudTd>
							<MudTd>@b.NameOfBox</MudTd>
							<MudTd>@b.Organization</MudTd>
							<MudTd>@b.GroupName</MudTd>
						}
				</RowTemplate>
			</MudTable>

*@
				

			<table class="table table-striped">
			<thead>
			<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Organization</th>
			<th>Group</th>
			</tr>
			</thead>
			<tbody>

			@foreach (var b in Readbox)
			{
			<tr>
			<td>@b.BoxId</td>
			<td>@b.NameOfBox</td>
			<td>@b.Organization</td>
			<td>@b.GroupName</td>
			</tr>
			}

			</tbody>
			</table>
			}
		</div>

		<div class="col-md-4">
			<h3>Box Data </h3>
			@if (ReadboxData == null)
			{
				<MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
			}
			else
			{
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Id</td>
							<td>NameOfBox</td>
							<td>Temperature</td>
							<td>Humidity</td>
							<td>LedIntensity</td>
							<td>FanSpeed</td>
						</tr>
					</thead>
					<tbody>

						@foreach (var b in lastdata)
						{
							<tr>
								<td>@b.Id</td>
								<td>@b.NameOfBox</td>
								<td>@b.Temperature</td>
								<td>@b.Humidity</td>
								<td>@b.LedIntensity</td>
								<td>@b.FanSpeed</td>

							</tr>
						}

					</tbody>
				</table>
			}
		</div>
	</div>
</div>

@code {
	private IBoxModel box = new DisplayBoxModel();

	private async void HandleValidSubmit()
	{
		await boxdata.CreateBox(box);
		box = new DisplayBoxModel();
	}

	private IBoxDataModel boxd = new DisplayBoxDataModel();

	private async void HandleValidSubmitData()
	{
		await boxdata.CreateData(boxd);
		boxd = new DisplayBoxDataModel();
	}

	private List<IBoxModel> Readbox;
	private List<IBoxDataModel> ReadboxData;
	private List<IBoxDataModel> lastdata;
	protected override async Task OnParametersSetAsync()
	{
		Readbox = await boxdata.ReadBox();
		ReadboxData = await boxdata.ReadBoxData();
		lastdata = await boxdata.ReadLastXData(100);
	}




}


@*


<MudDrawer @bind-Open="SideBarOpen" Elevation="1">
     <MudDrawerHeader>
           <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="AshProgHelp_Logo.png"/>
           <MudText Typo="Typo.h5" Color="Color.Primary" Style="margin-top:10px; margin-left:15px;">AshProgHelp</MudText>
     </MudDrawerHeader>
     <MudNavMenu>
           <MudNavLink Href="/" Match="NavLinkMatch.All"Icon="@Icons.Filled.Home"> Home </MudNavLink>
           <MudNavLink Href="/fetchdata" Icon="@Icons.Filled.Storage"> FetchData </MudNavLink>
           <MudNavGroup Title="Expanding" Icon="@Icons.Filled.DashboardCustomize">
                 <MudNavLink Href="/counter" Icon="@Icons.Filled.Camera"> Counter </MudNavLink>
                 <MudNavLink Href="/CreateBox" Icon="@Icons.Filled.AddBox"> Create Box </MudNavLink>
           </MudNavGroup>
     </MudNavMenu>
   </MudDrawer>                                                                                                                                                            4


@code{
    [Parameter]
     public bool SideBarOpen {get;set;}
}*@