@page "/graph"

@inject IBoxDataService boxdata


<h1>Radzen Blazor Chart with line series</h1>
@if(lastdata == null)
{
    <h4>Loading...</h4>
}
else{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                    <RadzenLabel Text="Smooth" For="smooth" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@revenue2019" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:HH:mm:ss}" />
                    <RadzenValueAxis Formatter="FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" @onclick="Refresh">Refresh
    </button>
    <div>
        <table class="table table-striped">
				<thead>
					<tr>
						<th>Temperature</th>
                        <th>Humidity</th>
						<th>Fan</th>
						<th>Time_recieved</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var b in lastdata)
					{
						<tr>
				<td>@b.Temperature</td>
                <td>@b.Humidity</td>
               <td>@b.FanSpeed</td>
               <td>@b.Time_recieved</td>
						</tr>
					}

				</tbody>
			</table>

    </div>




    }
@code {
    bool smooth = false;
    int countOfData = 10;

    class DataItem
    {
        public DateTime Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return "°C"
        ;
    }
    private List<IBoxDataModel> lastdata;
    private List<DateTime> Dates = new List<DateTime>();
    private List<double> Temp = new List<double>();



    private void Refresh(){
    
    }


    protected override async Task OnParametersSetAsync()
    {
        lastdata = await boxdata.ReadLastXData(countOfData);

        
        foreach (var b in lastdata)
        {
            Dates.Add(b.Time_recieved);
            Temp.Add(decimal.ToDouble(b.Temperature));
        }
        
    }
    //DataItem[] revenue2019 = new DataItem[] {

    //            new DataItem
    //            {
    //                Date = Dates[0],
    //                Revenue = Temp[0]
    //            },new DataItem
    //            {
    //                Date = Dates[1],
    //                Revenue = Temp[1]
    //            },new DataItem
    //            {
    //                Date = Dates[2],
    //                Revenue = Temp[2]
    //            },new DataItem
    //            {
    //                Date = Dates[3],
    //                Revenue = Temp[3]
    //            },new DataItem
    //            {
    //                Date = Dates[4],
    //                Revenue = Temp[4]
    //            },new DataItem
    //            {
    //                Date = Dates[5],
    //                Revenue = Temp[5]
    //            },new DataItem
    //            {
    //                Date = Dates[6],
    //                Revenue = Temp[6]
    //            },new DataItem
    //            {
    //                Date = Dates[7],
    //                Revenue = Temp[7]
    //            },new DataItem
    //            {
    //                Date = Dates[8],
    //                Revenue = Temp[8]
    //            },new DataItem
    //            {
    //                Date = Dates[9],
    //                Revenue = Temp[9]
    //            }};
      DataItem[] revenue2019 = new DataItem[] {

                new DataItem
                {
                    Date = DateTime.Parse("2022-05-27 01:14:04.647"),
                    Revenue = 63.857106897561
                },
                                new DataItem
                {
                    Date = DateTime.Parse("2022-05-27 01:14:05.647"),
                    Revenue = 68
                },

                new DataItem
                {
                    Date = DateTime.Parse("2022-05-27 01:14:06.647"),
                    Revenue = 63.857106897561
                }


        };  

}